<div class="jumbotron">
  <h1>Welcome to Flickr Clickr!</h1>
  <div class="row">
    <div class="jumbo">
      <a href="#" class="thumbnail">
        <img src="{{ imageUrl }}" alt="...">
      </a>
    </div>
  </div>
  <p><a id='clickr' class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-flickr" aria-hidden="true"></i> Clickr</a></p>
</div>
