<div class="jumbotron">
  <h1>Welcome to Flickr Clickr!</h1>
  <div class="row">
    <div class="jumbo">
      <a href="#" class="thumbnail">
        <img id='image' data-all-image={{imageUrls}} src="https://farm9.staticflickr.com/8898/28620644135_de49bfd6b3.jpg" alt="...">
      </a>
    </div>
  </div>
  <p><a id='clickr' class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-flickr" aria-hidden="true" ></i> Clickr</a></p>
</div>
