<div class="jumbotron">
  <h1>Welcome to Flickr Clickr!</h1>
  <div class="row">
    <div class="jumbo">
      <a href="#" class="thumbnail">
        <img src="http://c10.nrostatic.com/sites/default/files/styles/original_image_with_cropping/public/uploaded/donald-trump-grow-up.jpg?itok=n1PW3Myr" alt="...">
      </a>
    </div>
  </div>
  <p><a class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-flickr" aria-hidden="true"></i> Clickr</a></p>
</div>
