body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #232B2B;
}

a {
  color: #DC3D24;
}

.btn {
  color: #DC3D24;
  background-color: #232B2B;
  border: 0px solid red;
}

.thumbnail {
  border: 0px solid red;
  margin-top: 10px;
  margin-bottom: 70px;
  background-color: #232B2B;
}

.jumbotron {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #232B2B;
    color: #DC3D24;
}

.btn-lg {
  font-size: 35px;
}

img {
  /*width: 900px;*/
  /*height: 900px;*/
   border:3px solid #E3AE57;


}
